.cart-no{
    position: absolute;
    height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1rem;
    background-color: blue;
    color: #fff;
    text-align: center;
    top: -12px;
    right: -32px;

}

.mat-icon {
    font-size: 34px;
  }